
@{
    ViewData["Title"] = "Impressum";
}

<p class="text-center">
    <strong>Allgemeine Geschäftsbedingungen</strong><br><br>

    Dies sind unsere Geschäftsbedingungen für die Nutzung unserer Website <a href="https://peters-balls.sumupstore.com" target="_blank">peters-balls.sumupstore.com</a> und den Kauf von Produkten über die Website.<br><br>

    Falls Sie Fragen zu diesen Geschäftsbedingungen haben, dann kontaktieren Sie uns bitte über das Kontaktformular.<br><br>

    Diese Geschäftsbedingungen sowie alle Bestimmungen oder Bedingungen in anderen Bereichen dieser Website gelten zusammen für die Nutzung dieser Website durch Kunden. Bitte beachten Sie, dass Peters Balls jederzeit Änderungen an dieser Website vornehmen oder Teile der Website entfernen kann, ohne gegenüber Kunden für solche Änderungen zu haften.<br><br>

    Peters Balls behält sich das Recht vor, diese Geschäftsbedingungen in Zukunft zu ändern, ohne Kunden hierüber ausdrücklich in Kenntnis zu setzen, und die weitere Nutzung der Website oder das Aufgeben von Bestellungen nach solchen Änderungen gelten als Ihr Einverständnis und Ihre Zustimmung zu solchen Änderungen.<br><br>

    Ein Vertrag zwischen Ihnen als Kunde und uns kommt erst dann zustande, wenn Ihre Bestellung bearbeitet und versandt wurde.<br><br>

    <strong>Aufgeben einer Bestellung</strong><br>
    Wenn Sie Ihre Bestellung aufgeben, erklären Sie sich mit diesen Geschäftsbedingungen einverstanden. Daher ist es wichtig, dass Sie sich diese Geschäftsbedingungen durchlesen, bevor Sie fortfahren und Ihre Bestellung aufgeben.<br><br>

    <strong>Stornieren einer Bestellung</strong><br>
    Als Kunde steht es Ihnen frei, eine Bestellung innerhalb von vierzehn Tagen zu stornieren. Der Betrag Ihrer Bestellung wird auf das Konto zurückerstattet, das ursprünglich für die Zahlung verwendet wurde.<br><br>

    <strong>Annahme einer Bestellung</strong><br>
    Bei Annahme einer Bestellung erhalten Sie eine Bestellbestätigung, die an Ihre während des Bezahlvorgangs angegebene E-Mail-Adresse gesendet wird und Informationen zum Umfang und den Preisen der Bestellung enthält.<br><br>

    <strong>Lieferung</strong><br>
    Ihnen als Käufer steht es frei, zwischen den angegebenen und zu dem jeweiligen Zeitpunkt geltenden Lieferoptionen auszuwählen. Peters Balls übernimmt keine Verantwortung für Schäden, die sich während des Transports ereignen, oder für Schäden durch Verspätungen, die außerhalb der Kontrolle von Peters Balls liegen:<br>
    - Abholung im Store<br><br>

    <strong>Rückgaberecht</strong><br>
    Peters Balls akzeptiert Rückgaben innerhalb von vierzehn Tagen, falls die Produkte nicht verwendet, verändert, gewaschen oder anderweitig manipuliert wurden. Produkte müssen in der Originalverpackung zurückgegeben werden.<br>
    Ohne die vorherige schriftliche Zustimmung durch Peters Balls dürfen keine Produkte an Peters Balls zurückgegeben werden, und für Rückgaben fällt eine Rückgabegebühr an.<br><br>

    <strong>Haftung</strong><br>
    Wir sind bestrebt, die Informationen auf dieser Website so richtig wie möglich zu halten, übernehmen jedoch weder eine ausdrückliche noch eine stillschweigende Garantie für die Richtigkeit der Informationen. Wir übernehmen auch keine Garantie für Sachverhalte, die mit der Nutzung dieser Website in Zusammenhang stehen, und Sie sind verantwortlich dafür, sicherzustellen, dass Ihre eigene Ausrüstung vor Viren oder anderen externen Faktoren geschützt ist.<br><br>

    Ihre Rechte sind durch den Sale of Goods and Supply of Services Act von 1980 wie auch durch den Consumer Protection Act von 2007 geschützt, sofern Sie ein Verbraucher sind. Ihre Rechte nach den geltenden Rechtsvorschriften bleiben von den Inhalten dieser Website unberührt.<br><br>

    <strong>Salvatorische Klausel</strong><br>
    Falls sich eine Bestimmung oder Bedingung dieser Geschäftsbedingungen aus irgendeinem Grund als ungültig, rechtswidrig oder nicht durchsetzbar erweisen sollte, wird die betreffende Bestimmung oder Bedingung von den übrigen Geschäftsbedingungen, die weiterhin gültig und durchsetzbar sind, getrennt.<br><br>

    Falls eine Bestimmung dieser Geschäftsbedingungen unrechtmäßig, ungültig oder aus irgendeinem Grund nicht durchsetzbar sein sollte, so gilt diese Bestimmung als abtrennbar, ohne Einfluss auf die Gültigkeit und Durchsetzbarkeit der übrigen Bestimmungen zu haben.
</p>
